/**
 * Place your custom CSS styles here.
 **/

#workitem-frame {
  position: absolute;
  display:block;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 220px;
  max-width: 33%;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  border: 1px solid #333;
  z-index: 9999999;
  color: #fff !important;
  font-family: Helvetica, Arial, sans-serif !important;
}

#workitem-frame h4 {
  text-align:center;
  font-weight: bold;
  font-size: 18px;
  margin:0;
  line-height: 1.5em;
  color: #FFF !important;
  font-family: Helvetica, Arial, sans-serif !important;
}

#workitem-frame span.form-label { margin-right:10px;}
#workitem-form input { margin: 5px;}
#workitem-form input[type=text] { padding: 5px;}
#workitem-form .form-controls { margin: 5px; }
